/* App.css */

.App {
  font-family: Arial, sans-serif;
}

.sticky-buttons {
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  z-index: 10;
  padding: 10px;
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 20px;
}

.login-btn, .admin-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn {
  background-color: #4CAF50;
  color: white;
}

.admin-btn {
  background-color: #f44336;
  color: white;
}
